{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                        <h1>TODO</h1>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Add Task</h4>
              <form method="post" class="p-3 shadow">
    {% csrf_token %}
     <div class="form-group">
    <input class="form-control" type="text" name="name" placeholder="name">
     </div>
     <div class="form-group">
    <input class="form-control" type="text" name="priority" placeholder="priority">
     </div>
                   <div class="form-group">
    <input class="form-control" type="date" name="date" placeholder="date">
     </div>
      <input type="submit" value="submit" class="btn btn-primary">
</form>
        </div>

    <div class="col-md-6">
        <h4>Task Completed</h4>
        {% for i in obj1 %}
        <div class="shadow card">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p><b>{{i.priority}}</b></p>
            <p><b>{{i.date}}</b></p>
            <a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
             <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>

        </div>
        </div>
        <br>
        {% endfor %}
    </div>
         </div>
</div>
</body>
</html>
{% endblock %}